<% provide(:title, @article.title) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @article.title %>
      </h1>
      <%= image_tag @article.image_url %>

      <!--Todo show more attributes-->

    </section>
  </aside>
</div>