<h1>Listing articles</h1>

<% @articles.each do |article| %>

    <%= link_to article.title, home_path(article) %>
    <br />
    <%= image_tag article.image_url %>
    <br />

    <!--Todo show more attributes-->

  <% end %>
